<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    
    	<context:annotation-config/><!-- annotationların dikkate alınması için bulunmalıdır -->
    
		
		<bean class="com.brkbthn.Ogrenci" id="ogrenci">
		    <property name="adi" value="batuhan"></property>
		    <property name="soyadi" value="Deevran"></property>
		    <property name="yasi" value="24"></property>
		</bean>
		
		<bean class="com.brkbthn.Ders" id="ders">
		    <property name="puan" value="99"></property>
		    <property name="ders" value="Spring Freamwork"></property>
	
		    
		    
		</bean>
		
		
		
		
		
		
</beans>